body {
  background: #eeeeee;
  font-family: 'Roboto', sans-serif;
  padding: .5em 2em;
}

/* Drag and Drop */
#favorite-dinos {
  border: 1px solid #ccc;
  padding: 2em;
  overflow: hidden;
  margin-bottom: 4em;
}

  #favorite-dinos .column {
    width: 50%;
    float: left;
  }

  /* Drag Column */
  .draggable {
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    padding: .5em;
    width: 200px;
  }

  .draggable.moving {
    border: 1px solid Crimson;
  }

  .draggable.copying {
    border: 1px solid DarkMagenta;
  }

  /* Drop Column */
  #favorite-dinos .column.drop-items {

  }

    #drop-area {
      background: #e1e1e1;
      padding: 1em 2em 3em;
    }

    #drop-area.dropping {
      background: 'DarkSeaGreen';
    }

/* Accordion */
.dino-type {
  background: #fff;
  border: 1px solid #aaa;
  margin: 2em 0;
  /*padding: 1em 5%;*/
}

  .dino-type.gray {
    background: #efefef;
  }


.section-header {
  background: #555;
  color: #fff;
  margin: 0;
  padding: 1em;
}

  .section-header h2 {
    margin: 0;

  }

.content {
  padding: 1em;
}

/* Closed */
.dino-type.closed .content {
  display: none;
}

/* Open */
.dino-type.open .section-header {
  background: teal;
}


/* Capture Bubble stuff */
.container {
  background: #fff;
  border: 1px #ccc solid;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.container:hover {
  border-color: #222;
  cursor: pointer;
  background: rgba( 0, 0, 0, .2 );
}
